TasksImporter/Service References/LookupTableService/LookupTable.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LookupTable" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/" location="http://project2010:32843/09541ea690cb48ecbb5b3579c2ce47ec/PSI/LookupTable.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_LookupTable" type="i0:LookupTable">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckOutLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/CheckOutLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckInLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/CheckInLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadLookupTablesMultiLang">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/ReadLookupTablesMultiLang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLookupTablesMultiLang">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/CreateLookupTablesMultiLang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/DeleteLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLookupTablesMultiLang">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/UpdateLookupTablesMultiLang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/ReadLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadLookupTablesByUids">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/ReadLookupTablesByUids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadLookupTablesMultiLangByUids">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/ReadLookupTablesMultiLangByUids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/CreateLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/UpdateLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_LookupTable1" type="i0:LookupTable">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckOutLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/CheckOutLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckInLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/CheckInLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadLookupTablesMultiLang">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/ReadLookupTablesMultiLang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLookupTablesMultiLang">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/CreateLookupTablesMultiLang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/DeleteLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLookupTablesMultiLang">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/UpdateLookupTablesMultiLang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/ReadLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadLookupTablesByUids">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/ReadLookupTablesByUids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadLookupTablesMultiLangByUids">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/ReadLookupTablesMultiLangByUids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/CreateLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLookupTables">
      <soap:operation soapAction="http://schemas.microsoft.com/office/project/server/webservices/LookupTable/UpdateLookupTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultServerFaultFault">
        <soap:fault use="literal" name="DefaultServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExecutionFaultFault">
        <soap:fault use="literal" name="ServerExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LookupTable">
    <wsdl:port name="BasicHttpBinding_LookupTable" binding="tns:BasicHttpBinding_LookupTable">
      <soap:address location="http://project2010:32843/09541ea690cb48ecbb5b3579c2ce47ec/PSI/LookupTable.svc/secure" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_LookupTable1" binding="tns:BasicHttpBinding_LookupTable1">
      <soap:address location="http://project2010:32843/09541ea690cb48ecbb5b3579c2ce47ec/PSI/LookupTable.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>